<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Input Portal</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="bodyPart">Choose the domain body part</label>
        <select name="bodyPart" id="bodyPart">
            <option value="back">back</option>
            <option value="cardio">cardio</option>
            <option value="chest">chest</option>
            <option value="lower arms">lower arms</option>
            <option value="lower legs">lower legs</option>
            <option value="neck">neck</option>
            <option value="shoulders">shoulders</option>
            <option value="upper arms">upper arms</option>
        </select>
        <br>
        <input type="submit" value="submit">

    </form>
    
</body>
</html>