<html>
<body>

<h1>Health And Fitness</h1>

<p>Health parameter selection.</p>

<form action="">
  <label for="Health">Choose an option:</label>
  <select name="Health" id="Health">
    <option value="Exercise">Exercise</option>
    <option value="Food">Food</option>
    <option value="BMI">BMI</option>
    
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>

<p>Click the "Submit" button and the form-data will be sent to a page on the server called "health_page.php".</p>

</body>
</html>